@model cs_sstu_lab8.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-10">
            Products:
        </dt>
        <dd class = "col-sm-10">
            <ul style="list-style-type:none">
                @foreach (var modelItem in Model.Items)
                {
                    <li>
                        <div class="alert alert-info" role="alert">
                            <span class="badge bg-success">@modelItem.Amount</span> [@modelItem.Price.ToString("c")] - @modelItem.Product.Name
                        </div>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
